@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  background: #2c2a2a;
}

.bg-blue {
  background-color: #251e8a;
}

.bg-gray {
  background-color: #000107;
}

.second-bg-gray {
  background-color: #121216fa;
}

.second-bg-gray_transparent {
  background-color: #121216da;
}

.pg-bg-gray {
  background-color: #0a0a0cde;
}

.namefield-bg-gray {
  background-color: #1e1e24b0;
}

.logo-blue {
  background-color: #00182E;
}


