@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dropdown-hover-area {
  position: absolute;
  top: -16px;
  left: -16px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*All*/

.main-hover-border:hover {
  border-color: #C7A154;
}

.main-hover-text:hover {
  color: #C7A154;
}


/*Dark*/

/* #232329 */
.dark-primary-bg {
  background-color: #0c0c0e;
}

.dark-second-bg {
  background-color: #1b1b20;
}

.dark-transparent-bg {
  background-color: #0c0c0e80;
}

.dark-field-cl {
  background-color: #f1f1f1;
}

.dark-bg-gray_transparent {
  background-color: #121216da;
}

.dark-bg-blue {
  background-color: #251e8a;
}

.dark-pg-bg-gray {
  background-color: #0a0a0cde;
}

.dark-navbar {
  background-color: #0a0a0cef;
}

.dark-logo-blue {
  background-color: #00182e;
}

.dark-hover-gray:hover {
  background-color: #1b1b1b;
}

.dark-main-bg {
  background-color: #fba33ea6;
}

.dark-main-hover-bg:hover {
  background-color: #C7A154;
}

.dark-main-hover-border:hover {
  border-color: #C7A154;
}

.dark-main-hover-text:hover {
  color: #C7A154;
}

.dark-main-focus-outline:focus {
  outline-color: #C7A154;
}

/*Light*/

.light-primary-bg {
  background-color: #ffffff;
}

.light-second-bg {
  background-color: #e2e2e2;
}

.light-transparent-bg {
  background-color: #ffffff80;
}

.light-navbar {
  background-color: #f8f7f7;
}

.light-field-cl {
  background-color: #f3f4f5;
}

.light-bg-gray_transparent {
  background-color: #fffffff3;
}

.light-bg-blue {
  background-color: #251e8a;
}

.light-pg-bg-gray {
  background-color: #0a0a0cde;
}

.light-logo-blue {
  background-color: #00182e;
}

.light-main-bg {
  background-color: #20444D;
}

.light-hover-gray:hover {
  background-color: #f8f7f7;
}

.light-main-hover-bg:hover {
  background-color: #20444D;
}

.light-main-hover-border:hover {
  border-color: #20444D;
}

.light-main-hover-text:hover {
  color: #20444D;
}

.light-main-focus-outline:focus {
  outline-color: #20444D;
}